#destination {
    color:  white;
    font-size: 68px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    top: 25%;
    left: 50%;
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -50%);
}


#next-button {
    top: 50%;
    left: 67%;
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    background-color: white;
    color: black;
    border: solid green;
    padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
}

#next-button:hover {
    top: 50%;
    left: 67%;
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    background-color: black;
    color: white;
    border: solid green;
    font-family: 'Roboto', sans-serif;
}