#destination-heading{
    color:  white;
    font-size: 68px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    top: 25%;
    left: 50%;
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -50%);
}

#domain-name{
    color:  white;
    text-align: center;
    font-family: 'Source Serif Pro',serif;
    font-size: 25px;
    top: 30%;
    left: 50%;
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -50%);
}


#domain {
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 5;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    background-color: white;
    color: black;
    border: solid green;
    padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
}

#domain:focus {
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 5;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    background-color: black;
    color: white;
    border: solid green;
    padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
}

#domain-submit{
    top: 50%;
    left: 67%;
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    background-color: white;
    color: black;
    border: solid green;
    padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
}

#domain-submit:hover {
    top: 50%;
    left: 67%;
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    background-color: black;
    color: white;
    border: solid green;
    font-family: 'Roboto', sans-serif;
}

