.destinations{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 75%;
    width: 100%;
}

.enter-destination{
    z-index: 2;
    margin-top: 10em;
}

#destination-instructions{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 20vh; */
}


#destination-heading{
    color:  white;
    font-size: 68px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 0% 0% 0.2em 0%;
    /* top: 25%;
    left: 50%;
    position: absolute; */
    /* z-index: 2; */
    /* transform: translate(-50%, -50%); */
}

#domain-name{
    color:  white;
    text-align: center;
    font-family: 'Source Serif Pro',serif;
    font-size: 25px;
    margin: 0% 0% 10.5em 0%;
    width: 75%;
    /* top: 30%;
    left: 50%;
    position: absolute; */
    /* z-index: 2; */
    /* transform: translate(-50%, -50%); */
}

#get-destination{
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 29em;
    z-index: 3;
}

#domain {
    border-radius: 12px;
    background-color: white;
    color: black;
    border: solid green;
    padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

#domain:focus {
    border-radius: 12px;
    background-color: black;
    color: white;
    border: solid green;
    padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
}

#domain-submit{
    border-radius: 12px;
    background-color: white;
    color: black;
    border: solid green;
    padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    margin-left: 10em;
}

#domain-submit:hover {
    border-radius: 12px;
    background-color: black;
    color: white;
    border: solid green;
    font-family: 'Roboto', sans-serif;
}

/* .macbook-container{
    display: flex;
    align-items: center;
    flex-direction: column;
} */

#macbook-destination-details {
    z-index: 1;
    /* margin-top: -42.5vh; */
}

#macbook-enter-details{
    z-index: 1;
    margin-top: -16em;
} 
