@import "./styles/welcome.css"; 
@import "./styles/enter-destination.css";
@import "./styles/destination-details.css";
@import "./styles/final-details.css";
@import "./styles/header.css";

html
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

canvas {
  background-color: rgb(31, 51, 94);
  width: 100%;
  height: 100%;
  position: fixed;
}

.hidden {
  /* visibility: hidden; */
  display: none;
}

#map {
  height: 32%;
  width: 27%;
  z-index: 2;
  margin: auto;
  align-items: center;
  top: 51.5%;
  left: 50.3%;
  position: absolute;
  transform: translate(-50%, -50%);
}
